.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px !important;
}

.navbar-text {
   color: white !important;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,black 0,black 100%) !important; /* override background image gradient w/ flat color */
}